@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background: #c8e8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    background-color: #000000;
    color: #fff;
    border-radius: 6px;
    padding: 30px 60px 40px 40px;
    box-shadow: 2px 2px 15px 5px rgb(14 8 61 / 70%);
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 2px;
    right: 20px;
    top: 45%;
    transform: translateY(-50%);
    background: #3cdbc0;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: #3cdbc0;
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}

.container .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #3cdbc0;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input {
    height: 100%;
    width: 100%;
    border: none;
    background: #f0f1;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 15px;
}

.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    background: #f0f1;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 15px;
    resize: none;
}

::placeholder {
    color: white;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .button {
    display: inline-block;
    margin-top: 6px;
}

.right-side .button input[type="button"] {
    color: white;
    background-color: #3cdbc0;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 18px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button input[type="button"]:hover {
    background: #0c705f;
    color: black;
}

/* Responsive Styles */
@media (max-width: 950px) {
    .container {
        width: 90%;
        padding: 30px 35px 40px 35px;
    }
}

@media (max-width: 950px) {
    .container {
        margin: 40px 0;
        height: 100%;
    }
    .container .content{
        flex-direction: column-reverse;
    }
    .container .content .left-side{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container .content .left-side::before{
        display: none;
    }
    .container .content .right-side{
        width: 100%;
        margin-left: 0;
    }
}